USE [master]
GO
/****** Object:  Database [SocietyDB]    Script Date: 12/27/2020 10:13:27 PM ******/
CREATE DATABASE [SocietyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocietyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SocietyDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SocietyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SocietyDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocietyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocietyDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Admissions]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Date] [nvarchar](max) NULL,
	[SpecialistId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Age] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[IsApproved] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookigHouses]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookigHouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[HouseNumber] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BookigHouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Fees] [nvarchar](max) NULL,
	[SpecialistId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Houses]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HouseNo] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Information] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](max) NULL,
	[ProductAmount] [int] NOT NULL,
	[Price] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[TotalPrice] [nvarchar](max) NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Securities]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Securities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Moobile] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Securities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SocietyRegistrations]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocietyRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SocietyRegistrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specialists]    Script Date: 12/27/2020 10:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Specialists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password]) VALUES (1, N'porag@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Admissions] ON 

INSERT [dbo].[Admissions] ([Id], [Name], [Mobile], [Address], [Date]) VALUES (1, N'Rubaba', NULL, NULL, N'11/04/2020')
INSERT [dbo].[Admissions] ([Id], [Name], [Mobile], [Address], [Date]) VALUES (2, N'Aby Hyder', N'01814256325', N'CDA', N'11/04/2020')
SET IDENTITY_INSERT [dbo].[Admissions] OFF
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [PatientId], [Date], [SpecialistId], [DoctorId], [Gender], [Age], [Message], [IsApproved]) VALUES (1, 3, N'11/11/2020', 1, 1, N'Female', N'22', N'Teeth problem from last two month', 0)
INSERT [dbo].[Appointments] ([Id], [PatientId], [Date], [SpecialistId], [DoctorId], [Gender], [Age], [Message], [IsApproved]) VALUES (2, 2, N'11/14/2020', 1, 2, N'Male', N'28', N'Teeth problem', 0)
INSERT [dbo].[Appointments] ([Id], [PatientId], [Date], [SpecialistId], [DoctorId], [Gender], [Age], [Message], [IsApproved]) VALUES (3, 1, N'11/14/2020', 2, 7, N'Female', N'22', N'Health problem', 0)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[BookigHouses] ON 

INSERT [dbo].[BookigHouses] ([Id], [Name], [Email], [Mobile], [HouseNumber], [Date], [Address]) VALUES (1, N'Porag Paul', N'porag@gmail.com', N'01814256325', N'H-1001', N'11/01/2020', N'Jamalkhan')
INSERT [dbo].[BookigHouses] ([Id], [Name], [Email], [Mobile], [HouseNumber], [Date], [Address]) VALUES (2, N'Porag Paul', N'porag@gmail.com', N'01814256325', N'H-1001', N'11/01/2020', N'Jamalkhan')
INSERT [dbo].[BookigHouses] ([Id], [Name], [Email], [Mobile], [HouseNumber], [Date], [Address]) VALUES (3, N'Porag Paul', N'porag@gmail.com', N'01814256325', N'H-1001', N'11/01/2020', N'Jamalkhan')
SET IDENTITY_INSERT [dbo].[BookigHouses] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Image], [Degree], [Fees], [SpecialistId]) VALUES (1, N'Anonda Paul', N'Picture/mdoc1.jpg', N'MBBS', N'600 BDT', 1)
INSERT [dbo].[Doctors] ([Id], [Name], [Image], [Degree], [Fees], [SpecialistId]) VALUES (2, N'Nahida Bithi', N'Picture/fdoc1.jpg', N'MBBS, FCPS', N'700 BDT', 1)
INSERT [dbo].[Doctors] ([Id], [Name], [Image], [Degree], [Fees], [SpecialistId]) VALUES (3, N'Chandrasree Das Gupta', N'Picture/fdoc2.jpg', N'MBBS', N'600 BDT', 1)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Houses] ON 

INSERT [dbo].[Houses] ([Id], [HouseNo], [Image], [Information], [Price]) VALUES (1, N'H-1001', N'picture/house-1.jpg', N'4 Bedroom, 1 Drawigroom, 2 Bathroom, 1 Kitche, 2 Velcony', N'25000 BDT')
INSERT [dbo].[Houses] ([Id], [HouseNo], [Image], [Information], [Price]) VALUES (2, N'H-1002', N'picture/house-2.jpg', N'4 Bedroom, 1 Drawigroom, 2 Bathroom, 1 Kitche, 2 Velcony', N'25000 BDT')
INSERT [dbo].[Houses] ([Id], [HouseNo], [Image], [Information], [Price]) VALUES (3, N'H-1003', N'picture/house-3.jpg', N'4 Bedroom, 1 Drawigroom, 2 Bathroom, 1 Kitche, 2 Velcony', N'20000 BDT')
SET IDENTITY_INSERT [dbo].[Houses] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [ProductCode], [ProductAmount], [Price], [Date], [TotalPrice], [CustomerId]) VALUES (1, N'Shirt-1001', 2, N'500', N'11/10/2020', N'1000 BDT', 3)
INSERT [dbo].[Orders] ([Id], [ProductCode], [ProductAmount], [Price], [Date], [TotalPrice], [CustomerId]) VALUES (2, N'shari-1001', 2, N'500', N'11/14/2020', N'1000 BDT', 2)
INSERT [dbo].[Orders] ([Id], [ProductCode], [ProductAmount], [Price], [Date], [TotalPrice], [CustomerId]) VALUES (3, N'shari-1001', 3, N'500', N'11/14/2020', N'1500 BDT', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Securities] ON 

INSERT [dbo].[Securities] ([Id], [Name], [Email], [Moobile], [Image]) VALUES (1, N'Tanvir Hossain Lablu', N'ta@gmail.com', N'01814235235', N'Picture/30f9a989-3340-4350-86a0-34bf435c33f1.jpg')
INSERT [dbo].[Securities] ([Id], [Name], [Email], [Moobile], [Image]) VALUES (2, N'Promi Kumari', N'pro@gmail.com', N'01814325236', N'Picture/secu1.png')
INSERT [dbo].[Securities] ([Id], [Name], [Email], [Moobile], [Image]) VALUES (3, N'Sumon Khan', N'su@gmail.com', N'0181324258', N'Picture/secu2.jpg')
SET IDENTITY_INSERT [dbo].[Securities] OFF
SET IDENTITY_INSERT [dbo].[SocietyRegistrations] ON 

INSERT [dbo].[SocietyRegistrations] ([Id], [Name], [Email], [Mobile], [Address], [Password], [Image]) VALUES (1, N'Chandra', N'chandra@gmail.com', N'01512326354', N'H-1001', N'123456', N'Picture/1605131161173.jpg')
INSERT [dbo].[SocietyRegistrations] ([Id], [Name], [Email], [Mobile], [Address], [Password], [Image]) VALUES (2, N'Porag Paul', N'porag@gmail.com', N'01523652652', N'H-1001', N'123456', N'Picture/1605131161179.jpg')
INSERT [dbo].[SocietyRegistrations] ([Id], [Name], [Email], [Mobile], [Address], [Password], [Image]) VALUES (3, N'Naida Yeasmin Bithi', N'bithi@gmail.com', N'01415623650', N'H-1002', N'123456', N'Picture/IMG_20201102_230845.jpg')
SET IDENTITY_INSERT [dbo].[SocietyRegistrations] OFF
SET IDENTITY_INSERT [dbo].[Specialists] ON 

INSERT [dbo].[Specialists] ([Id], [Category]) VALUES (1, N'Dental')
INSERT [dbo].[Specialists] ([Id], [Category]) VALUES (2, N'Diabetologists‎')
INSERT [dbo].[Specialists] ([Id], [Category]) VALUES (3, N'Cardiologists')
SET IDENTITY_INSERT [dbo].[Specialists] OFF
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [CustomerId]
GO
USE [master]
GO
