
@{
    //Layout = null;
}


    <meta name="viewport" content="width=device-width" />
    <title>Food</title>
    <link href="~/Content/foodstyle.css" rel="stylesheet" />
<body>
<div class="container">
<div class="t_foods">
    <center><strong id="ourfoods">Food</strong></center>
</div>
    <div class="Fooddesigndiv">
        <h3 class="headtittleFoods">Chips</h3><br>
        <div class="row">
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip1.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip2.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip7.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip4.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip5.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/cip6.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/unnamed.png">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

        </div>
    </div>










<div class="Fooddesigndiv">
        <h3 class="headtittleFoods">Pasta & Noodles</h3><br>
        <div class="row">
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/noodles1.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/pasta.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/noodles2.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/pasta2.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/noodles3.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/pasta4.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/pasta3.jpeg ">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/noodles4.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="Fooddesigndiv">
        <h3 class="headtittleFoods">Oil</h3><br>
        <div class="row">
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil1.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" title="Click here to buy!!!" type="submit" name="submit" value="Buy">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil2.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil9.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil4.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil8.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil6.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil7.jpg ">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/oil5.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="Fooddesigndiv">
        <h3 class="headtittleFoods">Biscuits</h3><br>
        <div class="row">
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu1.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" title="Click here to buy!!!" type="submit" name="submit" value="Buy">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu2jpg.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu3.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu4.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu5.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu6.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu7.jpg ">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="noodlesdiv">
                    <img class="noodles-image" src="~/Picture/biscu8.jpg">
                    <div class="me-noodles">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

