
@{
    //Layout = null;
}


    <meta name="viewport" content="width=device-width" />
    <title>Medicine</title>
    <link href="~/Content/medicinestyle.css" rel="stylesheet" />

<body>
<div class="container">
    <div class="t_medicine">
        <center><strong id="ourmedicine">Medicine</strong></center>
    </div>
    <div class="medicinedesigndiv">
        <h3 class="headtittlemedicine">Antipyretics</h3><br>
        <div class="row">
            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/tablet1.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy">

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/tablet2.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/tablet3.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/tablet4.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

        </div>
    </div><br><br>
    <div class="medicinedesigndiv">
        <h3 class="headtittlemedicine">Vitamine</h3><br>
        <div class="row">
            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/vitamine1.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign"> 200 BDT </h3>
                        <input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy">

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/vitamine2.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/vitamine3.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="tabletdiv">
                    <img class="tablet-image" src="~/Picture/vitamine4.jpg">
                    <div class="me-tablet">

                        <h3 class="h3tkdesign">200 BDT </h3>
                        <input class="buttonbuy" type="submit" name="submit" value="Buy">
                    </div>
                </div>
            </div>

        </div>
    </div><br><br>
</div>
</body>
