
@{
    //Layout = null;
}


    <meta name="viewport" content="width=device-width" />
    <title>Necessery</title>
    <link href="~/Content/necesserystyle.css" rel="stylesheet" />

<body>
    <div class="container">
        <div class="t_dailynece">
            <center><strong id="ourdailyneci">Daily Neccessery</strong></center>
        </div>

        <div class="dailynecidesigndiv">
            <h3 class="headtittledailyneci">Vegitables & spinach</h3><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable1.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign"> 200 BDT </h3>
                            <input class="buttonbuy" data-toggle="popover" data-content="Click here to buy!!!" type="submit" name="submit" value="Buy">

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable2.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable3.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable4.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable5.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable6.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable7.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/vegitable8.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/shak1.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/shak2.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/shak3.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vegitablespinishdiv">
                        <img class="vegitablespinish-image" src="~/Picture/shak4.jpg">
                        <div class="me-vegitablespinish">

                            <h3 class="h3tkdesign">200 BDT </h3>
                            <input class="buttonbuy" type="submit" name="submit" value="Buy">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

